
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="home pt-32">
    <img style="margin: auto; height: 200px;" src="~/Content/img/logo_dai-hoc-fpt.jpg" />
    <div style="text-align: center; padding-top: 50px;">
        <strong class="capitalize cl-icon" style="  font-size: larger;">IN CLASS VOTING SYSTEM</strong>

    </div>
    <img style="margin: auto; height: 200px;" src="~/Content/img/system.png" />
</div>

