
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Layout.css">
    <link rel="shortcut icon" href="~/Content/img/fptlogo.jpg" type="image/x-icon">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="816925739984-c3a18qnso09fra877b75gc1h8jgjg4dn.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/Login.js"></script>
    <link href="~/Content/bootstrapcss/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/bootstrapjs/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrapjs/bootstrap.min.js"></script>

</head>
<body style="min-width: 1000px; max-width: 1200px" class="mx-auto">

    <div class="mx-auto">
        <div class="flex flex-row flex-wrap items-center bg-white p-12 border-gray-300">

            <div class="w-6/12 p-16">
                <div style="height:500px" class="home">
                    <img style="margin: auto;width:auto" src="~/Content/img/logo_dai-hoc-fpt.jpg" />
                    <div style="text-align: center;">
                        <strong class="capitalize cl-icon" style="color: #0633f9; width: fit-content; font-size: larger; ">Welcome To In Class Voting System</strong>

                        <label id="label_Error" style="color: red; margin-top: 5px;display:none">Tài khoản của bạn không được phép đăng nhập vào hệ thống</label>
                    </div>

                    <img style="max-width:350px" class="text-center mx-auto" src="~/Content/img/system.png" />
                </div>
            </div>
            <div class="w-6/12 shadow p-10" style="height:500px">
                @using (Html.BeginForm("LoginAdmin", "HomeTotal", FormMethod.Post, new { id = "form-login-admin" }))
                {
                    <div class="pd-20">
                        <h1 class="txtLogin">Login</h1>
                        <h5 class="txtLogin">User name :</h5>
                        <input name="inputUserName" class="txtInput color-input pl-3 w-full" id="usernameInput" type="text" required />
                        <h5 class="txtLogin">Password :</h5>
                        <input name="inputPassword" class="txtInput color-input pl-3 w-full" id="passwordInput" type="password" required />
                        <div class="w-full">
                            <button type="submit" id="adminLogin" class="txt-btn-login btnSignIn txtInput txtPosLogin w-full ">Login</button>
                        </div>
                    </div>
                }
                <div class="txtInput btnSignIn">
                    <div class="posGG" id="my-signin2"></div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/validateAdmin.js"></script>
</body>

</html>


