
@{
    ViewBag.Title = "PollFinished";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="bg-gray-100 flex-1 p-6 pt-32" style="text-align: center">
    <p style="text-align: center; margin-top: 10%; font-size: x-large; color: indianred; font-weight: 600">You already have done this poll!!!</p>
    <a href="~/Student/Home/Home" style=" margin-top: 30px; font-size: larger;color:blue;text-decoration:underline">Return Home</a>
</div>

