
@{
    ViewBag.Title = "QuizNotStartYet";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="bg-gray-100 flex-1 p-6 pt-32" style="text-align: center">
    <p style="text-align: center; margin-top: 10%; font-size: x-large;color:indigo;font-weight:600">This quiz is not started yet!!</p>
    <a href="~/Student/Home/Home" style=" margin-top: 30px; font-size: larger;color:blue;text-decoration:underline">Return Home</a>
</div>

