@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<div>
    <div style="width: fit-content; margin: auto;">
        <img style="margin-left:33%" src="~/Content/img/error.jpg" />
        <div class="list-sfs-holder">
            <div style="color:red;font-weight:800;margin:auto;font-size:50px;text-align:center">
                An unexpected error has occurred. Please contact the system administrator.
            </div>

        </div>
    </div>

</div>