
@{
    Layout = null;
}
<div>
    <div style="width: fit-content; margin: auto;">
        <img src="~/Content/img/stop.jpg" />
        <div class="list-sfs-holder">
            <div style="color:red;font-weight:800;margin:auto;font-size:50px;text-align:center">
               You cannot access this site
            </div>

        </div>
    </div>

</div>