
@{
    ViewBag.Title = "QuestionBank";
    Layout = "~/Areas/teacher/Views/Shared/_QuestionBankLayout.cshtml";
}

<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start navbar -->

    <p style="text-align: center; margin-top: 10%; font-size: larger;">Choose course and chapter to view questions...</p>


</div>

<!-- End General Report -->
