
@{
    ViewBag.Title = "QuizLibrary";
    Layout = "~/Areas/teacher/Views/Shared/_QuizLibraryLayout.cshtml";
}

<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start navbar -->

    <p style="text-align: center; margin-top: 10%; font-size: larger;">Choose course to view quiz...</p>


</div>